# Web Framework
fastapi
uvicorn
python-multipart

# Computer Vision & Core AI
opencv-python
numpy
mediapipe

# CatVTON & SegFormer Deep Learning Dependencies
torch
torchvision
diffusers
transformers
accelerate
huggingface_hub
pillow